/* start navbar  */
.navbar {
    background-color: #000;
    color: #fff;
    width: 100%;
    line-height: 80px;
    font-size: 18px;
    font-family: 'Cairo',
        sans-serif;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a.logo {
    float: left;
    padding: 0 40px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Cairo',sans-serif;
}
h3{
    position: relative;
    top: -22px;
}

.navbar ul {
    float: right;
    list-style: none;
    line-height: inherit;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}

.navbar ul li a:hover
{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;

}

.navbar .nav-toggle {
    display: none;
}
/* end navbar */


/* start menue in navbar*/
.menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.menu li {
    display: inline-block;


}

.menu .menu {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-family: 'Cairo',
        sans-serif;
}

.menu .menu:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}
/* end menue in navbar */
